@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;

  background-color: #f6f8fb;
}



.content {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {

  .logo{
    width: 100%;
  }
  .content {
    width: 90%;
  }
  .card {
    grid-template-columns: 1fr;
  }
}

/*  */

.preloader {
  height: 100vh;
  width: 100%;
  background: #0e1016;
  color: #e4ded7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.preloader .texts-container {
  height: 60px;
}
